Repository aldalgl/STA-Multi-Label-Emotion-Classification, pull requests merged in 2021-11, with the labels that each got.

#3 Proposal Proyek
  Documentation/01 Proposal/Sleep Call-PRO-PBA-GSL-21-22.docx
  Documentation/01 Proposal/Sleep Call-PRO-PBA-GSL-21-22.pdf
Labels: documentation

#6 Update Proposal Proyek
  Documentation/01 Proposal/Update/Sleep Call-PRO-PBA-GSL-21-22.docx
  Documentation/01 Proposal/Update/Sleep Call-PRO-PBA-GSL-21-22.pdf
Labels: documentation

#9 Update Laporan Proyek
  Documentation/02 Laporan/Laporan.docx
  Documentation/02 Laporan/Sleep Call-LAP-VISDAT-GSL-21-22.docx
Labels: documentation, enhancement

#10 Update Sleep Call-LAP-VISDAT-GSL-21-22.docx
  Documentation/02 Laporan/Sleep Call-LAP-VISDAT-GSL-21-22.docx
Labels: enhancement

#11 Update Laporan by Sarah
  Documentation/02 Laporan/Sleep Call-LAP-VISDAT-GSL-21-22.docx
Labels: documentation, enhancement

#12 Update Laporan
  Documentation/02 Laporan/Sleep Call-LAP-VISDAT-GSL-21-22.docx
  Documentation/02 Laporan/~$eep Call-LAP-VISDAT-GSL-21-22.docx
Labels: documentation

#18 Update document and create data presprocessing
  Documentation/02 Laporan/Sleep Call-LAP-VISDAT-GSL-21-22.docx
  Documentation/02 Laporan/~$eep Call-LAP-VISDAT-GSL-21-22.docx
  Program Code/SleepCall_DataPreprocessing.ipynb
Labels: documentation, enhancement

#19 Update SleepCall_DataPreprocessing.ipynb
  Program Code/SleepCall_DataPreprocessing.ipynb
Labels: enhancement

#21 Update SleepCall_DataPreprocessing.ipynb
  Program Code/SleepCall_DataPreprocessing.ipynb
Labels: enhancement

#23 Create DataPreprocessing Cont3
  Program Code/SleepCall_DataPreprocessing.ipynb
Labels: enhancement

#24 Update SleepCall_DataPreprocessing.ipynb
  Program Code/SleepCall_DataPreprocessing.ipynb
Labels: enhancement

#25 Design Stage
  Program Code/SleepCall_DataPreprocessing.ipynb
Labels: enhancement

#26 Update Document LA
  Documentation/01 Proposal/Update/Sleep Call-PRO-PBA-GSL-21-22.docx
  Documentation/01 Proposal/Update/Sleep Call-PRO-PBA-GSL-21-22.pdf
  Documentation/02 Laporan/Sleep Call-LA-PBA-GSL-21-22.docx
  Documentation/02 Laporan/Sleep Call-LA-PBA-GSL-21-22.pdf
  Documentation/02 Laporan/Sleep Call-LAP-VISDAT-GSL-21-22.docx
Labels: documentation

#27 Completing Design Stage
  Program Code/SleepCall_DataPreprocessing.ipynb
Labels: enhancement
